*{
  margin:0;
  padding:0;
}
html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-size:1.2rem;
  font-weight:400;
  line-height: 1.8;
  background-color:#77ff0f55;
}
h1, h2 {
  font-weight:700;
  text-align:center;
}
h1{
  font-size: 2.5rem;
}
h2{
  font-size: 1.9rem;
}
nav {
  top: 0;
  position:fixed;
  margin-top:0%;
  padding-left: 50px;
  width:100%;
  display: flex;
  flex-direction: row;
  background-color: #33aaff ;
 border-radius: 30px;
  
}


ul{
  display:flex;
  flex-direction: row;

}

nav li{
  color: black;
  margin-right:2.5rem;
  display:flex;
}
@media(max-width:450px){
  
  nav{
    justify-content: left;
  }
  nav li{
    margin: 0 1rem;
    
  }
}

nav li a{
  color:black;
  display: block;
  font-size:2.1rem;
  text-decoration:none;
  cursor:grab;
}
a:hover{
  color:#ff9933;
  
  
}
.welcome-section {
  margin-top: 50px;
  width:100%;
  background-color: #447fff;
  border-radius: 20px;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: monospace;
  
}
.welcome-section > p{
  padding-left: 2rem;
  padding-top: 4rem;
  font-size:2.1rem;
  font-weight: 400;
  color: silver;
}


.profile-title {
  color: silver;
   font-weight:600;
  font-size: 1.2rem;
  justify-items: center;
  padding-top: 190px;
  text-align:center;
  text-decoration:none;
  cursor: grab;
}
.profile-title:hover{
  color:black;
  transition: 1.1s;
}
@media(max-width:450px){
  #welcome-section{
    padding-top: 10px;
    height: 100%;
    width: 410px;
    
    margin-left: 0px;
  }
  #titulo-welcome{
    margin-top: 80px;
    margin-left:0px;
  }
  p{
    margin-left:0px;
    padding-left: 5px;
    
  }
  
  nav{
    height:160px;
    width:410px;
  }
  ul{
    list-style: none;
    display:flex;
    flex-direction: column;
    text-align: left;
  }
  .profile-title{
    margin-top:10px;
  }
  
}


.projects-section{
  margin-top:30px;
  text-align:center;
  padding: 1rem 1.5rem;
  background: rgb(91, 91, 142);
  border-radius: 20px;
  height: 290vh;
}
.projects-section-header{
  max-width: 640px;
  margin-top: 2rem;
  border-bottom: 0.3rem solid  silver;
  font-size: 2.5rem;
}
@media (max-width: 450px){
  .projects-section-header{
    font-size: 1.5rem;
    margin-top: 2.9rem;
  }
  .projects-section{
    margin-top: 5px;
    padding: 10px;
    height: 230vh;
  }
  .contenedor-proyectos-img{
    max-height: 800px;
    grid-gap: 20px;
    line-height: 0.5; 
    
  }
  .projectos-imagen{
    margin-top: 5px;
    transform: scale(0.5);
    
    
  }
  
}
.contenedor-proyectos-img{
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: /*repeat(3,50px)*/ max-content;
  grid-gap:15px;
  align-items: center;
  justify-content: center;
  
}
.projectos-imagen{
  margin-left:140px;
  margin-top: 5px;
  width: 200px;
  height: 200px;
}
.contenedor-proyectos-img a{
  text-decoration: none;
  font-size: 2rem;
}

footer{
  display:flex;
  justify-content: space-evenly;
  padding: 1rem;
  border-radius:30px;
  border-top: 4px solid silver;
  background-color: #77ffff55;
  margin-top: 60px;
}
footer > p{
  margin: 1rem;
}
@media(max-width: 450px){
  footer{
    padding-top: 10px;
    margin-top:20px;
    flex-direction: column;
    text-align: center;
  }
}

.contacto-section{
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width:100%;
  height: 130vh;
  padding: 0 1rem;
  background: silver;
}
.contactos-section-header> h2{
  font-size: 2rem;
}
@media(max-width: 450px){
  .contactos-section-header>h2{
    margin-top: 30px;
    font-size:1.7rem;
  }
  .contact-details{
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    font-size: small;
    
  }
  #volver-footer{
    margin-bottom: 5px;
  }
}
.contactos-link{
  display:flex;
  text-align:center;
  justify-content: center;
  width: 100%;
  margin-right: 20px;
  margin-top: 5px;
  flex-direction: row;
}
.contact-details{
  font-size: 1.9rem;
  
  transition: transform 0.3s ease-out;
  
}
.contact-details:hover{
  color:rgba(0, 5, 16, 0.936);
}
   
#volver-footer{
  margin-top: 15px;
  padding:5px;
  margin-left:1px;
  border-radius:10px;
  font-weight:700;
  background-color: #77ffff;
  
}

